body {
    background-image: linear-gradient(to right, darkslategray, rgb(83, 107, 107), darkslategray);
    
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

header, footer {
    grid-column-start: 1;
    grid-column-end: 4;

    background-image: linear-gradient(rgb(75, 106, 106), rgb(100, 122, 122));

    width: 100%;
}

h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

div {
    margin: 0px;
    padding: 0px;

    /* DEBUG */
    /* border-style:dotted;
    border-width: 1px;
    border-color: red; */
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.page {
    background-image: linear-gradient(to right, hsl(180, 29%, 18%), hsl(180, 20%, 24%), hsl(180, 25%, 19%));
}

.home-video-container{
    margin: 0px;
    padding: 0px;

    position: relative;
}

.home-video{
    width: 100%;
}

.home-overlay{
    font-size: 100;
    /* color: rgb(100, 220, 200); */
    position: absolute;
    top: 75%;
    left: 10%;
    /* transform: translate(150px, -250px); */
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgb(32, 48, 48), rgb(28, 40, 40), rgb(32, 48, 48));
    float: left;
}

.banner-video-container {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 500px;

    position: relative;

    overflow: hidden;
    display: block;
}

.banner-video{
    margin-top: -200px;
    width: 100%;
}

.banner-overlay{
    font-size: 25;
    /* color: rgb(100, 220, 200); */
    position: absolute;
    top: 25%;
    left: 60%;
}

ul {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    width: 100px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    transition-duration: .2s;
}

li a:hover {
    background-color: rgb(20, 32, 32);
    color: rgb(100, 220, 200);
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;

    /* DEBUG */
    /* border-style:dotted;
    border-width: 1px;
    border-color: red; */
}

.left {
    vertical-align: center;
    float: left;
    padding-left: 50px;
}

.center {
    vertical-align: center;
    width: 100%;
    text-align: center;
}

.right {
    vertical-align: center;
    float: right;
    padding-right: 50px;
}

.headertext {
    color: rgb(100, 220, 200);
    text-decoration: none;
}

.footertext {
    color: rgb(100, 220, 200);
    text-decoration: none;
}

p {
    font-size: smaller;
}

img {
    width: 300px;
    height: 200px;
}

.logo {
    width: 100px;
    height: 100px;
}

.divider {
    margin: 20 0 20 0;
    background-image: linear-gradient(to right, rgba(0, 255, 220, 0), rgb(0, 255, 220), rgba(0, 255, 220, 0));

    width: 100%; 
    height: 1px;
}