body {
    /* background-image: linear-gradient(to right, #2f4f4f, rgb(83, 107, 107), darkslategray); */
    background-color: var(--background);

    display:flex;
    flex-direction: column;
    
    min-height: 100vh;
    margin:0;
    padding:0;

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color:var(--text-main);
}

img {
    max-width: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

a {
    color:var(--accent);
    text-decoration: none;
}

/* TYPOGRAPHY */

.title {
    padding:0;
    margin:2em 0;
    font-size: 1.2em;
}

.title a {
    color:val(--accent);
    text-decoration: none;
}

.logo {
    width: 100px;
    float: right;
}

.overlay-home {
    position: absolute;
    left:5%;
    top:2.5%;
    font-size: 5em;
    color: var(--text-overlay);
}

.overlay-portfolio {
    position: absolute;
    left:55%;
    top:2.5%;
    font-size: 2em;
    color: var(--text-main);
}

.subtitle-portfolio {
    font-size: 1rem;
}

/* LAYOUT */

.header-container {
    width:100%;
    /* background-image: linear-gradient(#4b6a6a, rgb(100, 122, 122)); */
    background-color: var(--header);

    /* border:2px solid rgb(255, 0, 128); */
}

.video-container {
    position: relative;
}

.video-container.portfolio {
    display:flex;
}

video.portfolio {
    object-fit: cover; 
    object-position:0 -16vw;
}

.nav-container {
    margin:0;
    padding:.5em 0;
    width: 100%;

    /* background-image: linear-gradient(rgb(32, 48, 48), rgb(28, 40, 40), rgb(32, 48, 48)); */
    background-color: var(--banner);
}

.header-divider {
    margin:0;
    padding:1.25em 0;
    width: 100%;
    /* background-image: linear-gradient(rgb(32, 48, 48), rgb(28, 40, 40), rgb(32, 48, 48)); */
    background-color: var(--banner);
}

.page-container {
    margin:0 auto;
    width:90%;
    max-width:980px;

    flex-grow: 1;;

    /* background-image: linear-gradient(to right, #213b3b, hsl(180, 20%, 24%), hsl(180, 25%, 19%)); */
    background-color: var(--page);

    /* border:2px solid cyan; */
}

.footer-container {
    margin:0;
    padding:0;
    width: 100%;

    /* background-image: linear-gradient(rgb(32, 48, 48), rgb(28, 40, 40), rgb(32, 48, 48)); */
    background-color: var(--footer);
}

.nav-bar {
    margin:0;
    display: flex;
    list-style: none;
    padding-left:2.5%;
}

.nav-item {
    color: var(--text-main);
    text-decoration: none;
    margin-right: 2em;
    transition-duration: .2s;

    /* border:2px solid cyan; */
}

.nav-item:hover {
    color:var(--accent);
}

.current-page {
    color:var(--accent);
}

.article-visual {
    margin: 2em 0;
    border-radius: 1em;
    border: 1px solid var(--border);
}

.skill-visual {
    margin: 2em 0;
    border-radius: 1em;
}

.flex-container {
    display:flex;
    justify-content: space-around;

    /* border:2px solid rgb(255, 150, 0); */
}

.page-container .flex-container {
    margin: 0 10%;
}

.page-container .flex-container .flex-container {
    margin: 0 -2.5%;
}

.footer-container .flex-container {
    flex-direction: column;
    padding-left: 2.5%;
}

.footer-container p {
    margin:.25em;
}

.flex-item{
    align-content: center;
}

.flex-item-1 {
    width:20%;
}

.flex-item-2 {
    width:45%;
}

.flex-item-3 {
    width:70%;
}

.flex-item-4 {
    width:95%;
}

.divider {
    margin: 20px 0;
    background-image: linear-gradient(to right, var(--accent-faded), var(--accent), var(--accent-faded));

    width: 100%; 
    height: 1px;
}

@media (orientation:portrait) {
    .page-container .flex-container {
        flex-direction:column;
        align-items: center;
    }

    .page-container .flex-item {
        width:95%;
    }

    .page-container .main {
        order: 2;
    }

    .page-container .aside {
        order: 1;
    }

    .nav-bar {
        justify-content: space-around;
        padding-left:0;
    }

    .nav-item {
        margin: 0;
    }

    .overlay-home {
        font-size: 1.75em;
    }

    .overlay-portfolio {
        font-size: 1em;
    }

    .subtitle-portfolio {
        font-size: 0.625em
    }

    video.portfolio {
        object-fit: cover; 
        object-position:center;
    }
}

.cropped {
    object-fit: cover;
}